/* Estilos generales main */

 /* color del body */
 body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #141618;
    background-color: rgb(201, 36, 132);
    opacity: 1px;
    margin:0;
}

.cnt-texto {
    text-align: justify;
    font-size: 15px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

 .cursos {
    max-width: 100%;
    background-color: white;
  }
  
table {
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 80%;
    margin-left: 10%;   
    margin-right: 10%;
    border: 1px solid rgba(14, 13, 14, 0.425);
  }
  
  th {
    text-align: center;
    padding: 10px;
  
  }
  
  td {
    text-align: justify;
    padding: 10px;
   
  }
    
  .titulo-td {
    text-align: center;
    color: rgb(107, 14, 32);
  }

  tr:nth-child(even){
    background-color:  #c95d9faf}
  
  p {
    text-align: justify;
  }
  .ft- {
    text-align: center;
  }
 